@tailwind preflight;

@import '~font-awesome/scss/font-awesome';

@import 'tweaks';

@import 'components/buttons';
@import 'components/side-menu';
@import 'components/form';
@import 'components/tables';
@import 'components/breadcrumbs';
@import 'components/lists';
@import 'components/typography';

@tailwind utilities;

@import 'utilities';

[v-cloak] {
    &:before {
        @apply .bg-white .absolute .pin-x .pin-y ;
        content: '';
        z-index: 9999;
    }
    &:after {
        content: '';
        @apply .absolute .border-6 .border-blue-darker .rounded-full ;
        border-bottom-color: transparent;
        z-index: 10000;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100px;
        height: 100px;
        animation: spin 0.75s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
